.app {
  padding: 50px 0;

  h2{
    font-family: Helvetica Neue LT W05_65 Medium;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
    padding-left: 50px;
    margin-bottom: 0;
  }
}